body {
    margin: 0;
    background-color: #FFFFFF;
    min-height: 100dvh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    min-height: 100dvh;
    margin: 1rem;
    display: flex;
    max-width: 1900px;
    gap: 10px;
}
.left{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: inherit;
    padding: 3rem;
    width: 20%;
    border: 1px solid grey;
    
}
.right {
    padding: 3rem;
    width: 80%;
}

.header {
    display: flex;
    align-items:top ;
    justify-content: space-between;
    max-width: inherit;
}
.panel{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logoDiv{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.h2{
   display: flex; 
   align-items: top;
   gap: 2rem;
}
.menu{
    display: flex;
}
.svg{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.mi{
    opacity: .6;
}